.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    margin: 50px auto;
}

.register-title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.register-form {
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-button-container {
    display: flex;
    justify-content: center;
}

.form-button {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    text-align: center;
}

.succes-message {
    color: rgb(51, 191, 23);
    text-align: center;
}
