.home-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .filter-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1 1 150px;
    max-width: 200px;
  }
  
  .filter-button,
  .reset-button {
    background-color: #2A3F32;
    color: #E7E5D7;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .filter-button:hover,
  .reset-button:hover {
    background-color: #354B5E;
  }
  
  .product-list {
    list-style: none;
    padding: 0;
  }
  
  .product-list-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-list-item:last-child {
    border-bottom: none;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .product-detail {
    margin: 5px 0;
  }
  