/* navigation.css */
.navigation-container {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content:space-between;
  margin-bottom: 25px;
  margin-right: 10px;
}

.nav-brand {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px; 
  margin-top: 20px; 
  margin-left: 6%; 
}

.nav-links {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-link {
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  color: inherit; 
}

.nav-link:hover {
  text-decoration: underline; 
}

@media (max-width: 480px) {
  .logo {
    height: 30px; 
    margin-top: 5px; 
  }
}